.jumbotron
  %h1.display-3 Добро пожаловать!
  %p.lead Вы находитесь на веб-сайте общины "Геула". Здание общины находится в процессе стройки, вы можете поддержать общину уже сейчас.
  %p
    =link_to 'Поддержать общину', help_path, class: 'btn btn-lg btn-success'
.row.marketing
  .col-lg-6
    %h4 Поддержка
    %p Вы можете сделать одноразовое пожертвование, а также подписаться на регулярные пожертвования.
    
  .col-lg-6
    %h4 Провайдер
    %p Провайдером платежей является CloudPayments.
    