.jumbotron
  %h1.display-3 Сайт общины разрабатывается!
  %p.lead Вы можете поддержать общину уже сейчас и не ждать окончания разработки сайта.
  %p
    =link_to 'Поддержать общину', help_path, class: 'btn btn-lg btn-success'
.row.marketing
  .col-lg-6
    %h4 Поддержка
    %p Вы можете сделать одноразовое пожертвование, а также подписаться на регулярные пожертвования.
    
  .col-lg-6
    %h4 Провайдер
    %p Провайдером платежей является CloudPayments.
    